[submodule "pack/plugins/start/targets"]
	path = pack/plugins/start/targets
	url = https://github.com/wellle/targets.vim
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/start/asynccomplete"]
	path = pack/plugins/start/asynccomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/plugins/start/asynccomplete-lsp"]
	path = pack/plugins/start/asynccomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
