[submodule "pack/plugins/start/targets"]
	path = pack/plugins/start/targets
	url = https://github.com/wellle/targets.vim
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
